* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px 30px;
    height: 600px;
    border: 2px solid salmon;
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgb(224, 191, 4);
    position: sticky;
    top: 10px;
    border-radius: 10px;
}

.logo {
    border: 2px solid black;
    float: left;
    height: 19%;
}

.logo img {
    width: 130px;
    height: 100%;
}

nav {
    float: right;
    border: 2px solid black;
    background-color: orange;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: black;
    font-size: 20px;
    display: inline-block;
    margin: 40px 46px;
    text-decoration: none;
}

.Product {
    width: 80%;
    height: 350px;
    border: 1px solid gray;
    float: left;
    margin: 84px;
    min-width: 300px;
    max-width: 244px;
    border-radius: 10px;
    background-color: rgb(186, 105, 48);
}

.image {
    width: 100%;
    height: 80%;
    /* border: 2px solid rgb(166, 85, 85); */
    border-top: 5px ;
    border-radius: 10px;
}

.data {
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: rgb(186, 105, 48);
    border-radius: 10px;
}

.data p {
    margin: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 650px){
    .logo, nav {
        width: 100%;
        text-align: center;
    }
    nav ul {
        text-align: center;
    }
    nav ul li a {
        margin: 20px 23px;
    }
}