* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    justify-content: space-between;
    display: flex;
}

header a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: black;
    transition: all 1s;
}

header nav ul {
    list-style-type: none;
    transition: all 1s;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a:hover {
    background-color: black;
    color: #FFF;
}

.megamenu {
    max-width: 600px;
    height: 280px;
    right: 0%;
    display: flex;
    background-color: gray;
    position: absolute;
    padding: 15px;
    justify-content: space-between;
}

.megamenu > li {
    display: block;
}