* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    justify-content: space-between;
    display: flex;
    font-family: sans-serif;
}

header a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: black;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    transition: all 1s;
}

header nav ul li a:hover {
    background-color: black;
    color: #FFF;
    transition: all 1.3s;
}

header nav ul li ul {
    display: inline-block;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: gray;
    display: none;
    width: 135px;
}

header nav ul li ul li {
    width: 100%;
}

header nav ul li ul li a {
    width: 100%;
}

header nav ul li:hover>ul {
    display: inline-block;
}

header nav ul li ul li ul {
    top: 0;
    display: none;
    left: 135px;
    position: absolute;
}

nav>i, nav ul>i {
    display: none !important;
}

header nav ul li:hover > a i {
    transform: rotate(90deg);
}

@media screen and (max-width: 770px) {
    nav>ul {
        position: absolute;
        top: 0;
        right: -70%;
        background-color: blueviolet;
        width: 70%;
        height: 100vh;
        transition: all 1s;
    }

    header nav ul li {
        display: block;
    }

    header nav ul li ul,
    header nav ul li ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    header nav ul li a:hover {
        width: 100%;
    }

    header nav ul li ul li>a {
        padding-left: 50px;
    }

    header nav ul li ul li ul li>a {
        padding-left: 70px;
    }

    nav ul > i {
        float: right;
        padding: 17px 20px;
        color: #FFF;
        font-size: 30px;
        z-index: 999;
        position: relative;
        display: inline-block !important;
    }

    nav>i {
        padding: 20px;
        font-size: 20px;
        display: inline-block !important;
    }

    .showHide {
        right: 0;
    }
}