* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #707070;
    font-family: 'Roboto';
}

.main {
    width: 100%;
    display: flex;
}
.header {
    width: 51%;
    height: 200px;
    margin-top: -5px;
}

.header h1 {
    color: #111111;
    font-size: 2.2rem;
    text-align: left;
    margin: 0px 0px 14px;
    margin-left: 212px;
    width: 328px;
}

.header hr {
    border: 1px solid rgb(39,119,198);
    width: 50px;
    margin-left: 213px;
}

.header p {
    color: #111111;
    font-size: 20px;
    text-align: left;
    margin: 27px 0px 48px;
    margin-left: 212px;
}

.image {
    width: 49%;
    margin: -45px 10px;
}

.image img {
    display: flex;
    width: 330px;
    float: left;
    margin: 0px 112px;
    height: 267px;
}